<mat-toolbar  class="navbar navbar-expand-lg navbar-light bg-light-subtle">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

  <li class="navbar-nav">
    <a class="nav-link" href="/login" tabindex="-1">login</a>
  </li>

  <li class="navbar-nav">
    <a class="nav-link" href="/login" tabindex="-1" (click)="logOff()">logout</a>
  </li>

  <li class="navbar-nav">
    <a class="nav-link" href=" " tabindex="-1"> register</a>
  </li>
</mat-toolbar>
<div class="header-container">
  <div class="icon-container">
    <mat-icon matTooltip='Toggle Sidebar' (click)="toggleHandler()">web</mat-icon>
    <mat-icon
      class="delete-icon"
      [ngClass]="selectedNote? 'selected': ''"
      [ngClass]="disableEditing? 'disable-editing': ''"
      matTooltip='Delete Note'
      (click)="deleteNoteHandler()">delete
    </mat-icon>
    <mat-icon
      [ngClass]="disableEditing? 'disable-editing': ''"
      matTooltip='Create New Note'
      (click)="addEditNoteHandler()">edit
    </mat-icon>
    <mat-icon *ngIf="!disableEditing" matTooltip='Disable Editing' (click)="disableEditingHandler()">lock</mat-icon>
    <mat-icon *ngIf="disableEditing" matTooltip='Enable Editing' (click)="disableEditingHandler()">lock_open</mat-icon>
  </div>
  <div class="search-bar">
    <mat-icon>search</mat-icon>
    <input type="text" placeholder="Search" (keyup)="searchHandler(searchInput)" #searchInput />
  </div>
</div>
