<h1>New Note</h1>
<form [formGroup]="noteForm">
  <div class="form-group">

      <textarea formControlName="title" >
      </textarea>
    <div *ngIf="noteForm.controls['title'].hasError('required')">
      A title is required.
    </div>
    <div *ngIf="noteForm.controls['title'].hasError('maxlength')">
      The title must be less than 255 characters.
    </div>



    <textarea
      formControlName="body">
    </textarea>
      <div *ngIf="noteForm.controls['body'].hasError('required')">
        The note's content is required.
      </div>
      <div *ngIf="noteForm.controls['body'].hasError('maxlength')">
        The note's content must be less than 1024 characters.
      </div>



  </div>
<!--  <mat-dialog-actions align="end">-->
    <button >Save</button>

</form>
