<app-header></app-header>

<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Username</label>
    <input type="text" formControlName="username" class="form-control" />
    <span style="color: red" *ngIf="registerForm.get('username')?.touched  && registerForm.get('username')?.hasError('required')">Username is required</span>
    <span style="color: red" *ngIf="userTaken">User name is taken</span>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" formControlName="password" class="form-control" />
      <span style="color:red" *ngIf="registerForm.get('password')?.touched  && registerForm.get('password')?.hasError('required')">Password is required</span>
  <span style="color:red" *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty)" >Password must be at least 6 characters</span>
 </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" formControlName="confirmPassword" class="form-control"/>
    <span style="color:red" *ngIf="registerForm?.hasError('notSame')" >Password did not much</span>
  </div>
  <div class="form-group">
    <button [disabled]="registerForm.invalid" class="btn btn-primary">
      Register
    </button>
    <a routerLink="/login" class="btn btn-link">Cancel</a>
  </div>
</form>
